body {
    font-family: Helvetica, sans-serif;
}

.header {
    background-color: white;
    display: flex;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    position: sticky;
    top: 0;
}

.header img {
    height: 38px;
}

#p2 {
    transform: scaleX(-1);
}